MoonTrucker/.vscode/launch.json
MoonTrucker/bin/Debug/netcoreapp3.1/Genbox.VelcroPhysics.MonoGame.dll
MoonTrucker/bin/Debug/netcoreapp3.1/MonoGame.Framework.dll
MoonTrucker/bin/Debug/netcoreapp3.1/MoonTrucker.deps.json
MoonTrucker/bin/Debug/netcoreapp3.1/MoonTrucker.dll
MoonTrucker/bin/Debug/netcoreapp3.1/MoonTrucker.exe
MoonTrucker/bin/Debug/netcoreapp3.1/MoonTrucker.pdb
MoonTrucker/bin/Debug/netcoreapp3.1/MoonTrucker.runtimeconfig.dev.json
MoonTrucker/bin/Debug/netcoreapp3.1/MoonTrucker.runtimeconfig.json
MoonTrucker/bin/Debug/netcoreapp3.1/Content/GameAssets/Black_viper.xnb
MoonTrucker/bin/Debug/netcoreapp3.1/Content/GameAssets/CircleSprite.xnb
MoonTrucker/bin/Debug/netcoreapp3.1/Content/GameAssets/truck.xnb
MoonTrucker/bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/libopenal.so.1
MoonTrucker/bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/libSDL2-2.0.so.0
MoonTrucker/bin/Debug/netcoreapp3.1/runtimes/osx/native/libopenal.1.dylib
MoonTrucker/bin/Debug/netcoreapp3.1/runtimes/osx/native/libSDL2-2.0.0.dylib
MoonTrucker/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/SDL2.dll
MoonTrucker/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/soft_oal.dll
MoonTrucker/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/SDL2.dll
MoonTrucker/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/soft_oal.dll
MoonTrucker/Content/bin/DesktopGL/Content/GameAssets/Black_viper.xnb
MoonTrucker/Content/bin/DesktopGL/Content/GameAssets/CircleSprite.xnb
MoonTrucker/Content/bin/DesktopGL/Content/GameAssets/truck.xnb
MoonTrucker/Content/obj/DesktopGL/Content/.mgcontent
MoonTrucker/Content/obj/DesktopGL/Content/.mgstats
MoonTrucker/Content/obj/DesktopGL/Content/GameAssets/Black_viper.mgcontent
MoonTrucker/Content/obj/DesktopGL/Content/GameAssets/CircleSprite.mgcontent
MoonTrucker/Content/obj/DesktopGL/Content/GameAssets/truck.mgcontent
MoonTrucker/obj/MoonTrucker.csproj.nuget.dgspec.json
MoonTrucker/obj/MoonTrucker.csproj.nuget.g.props
MoonTrucker/obj/MoonTrucker.csproj.nuget.g.targets
MoonTrucker/obj/project.assets.json
MoonTrucker/obj/project.nuget.cache
MoonTrucker/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
MoonTrucker/obj/Debug/netcoreapp3.1/apphost.exe
MoonTrucker/obj/Debug/netcoreapp3.1/MoonTrucker.AssemblyInfo.cs
MoonTrucker/obj/Debug/netcoreapp3.1/MoonTrucker.AssemblyInfoInputs.cache
MoonTrucker/obj/Debug/netcoreapp3.1/MoonTrucker.assets.cache
MoonTrucker/obj/Debug/netcoreapp3.1/MoonTrucker.csproj.AssemblyReference.cache
MoonTrucker/obj/Debug/netcoreapp3.1/MoonTrucker.csproj.CopyComplete
MoonTrucker/obj/Debug/netcoreapp3.1/MoonTrucker.csproj.CoreCompileInputs.cache
MoonTrucker/obj/Debug/netcoreapp3.1/MoonTrucker.csproj.FileListAbsolute.txt
MoonTrucker/obj/Debug/netcoreapp3.1/MoonTrucker.dll
MoonTrucker/obj/Debug/netcoreapp3.1/MoonTrucker.GeneratedMSBuildEditorConfig.editorconfig
MoonTrucker/obj/Debug/netcoreapp3.1/MoonTrucker.genruntimeconfig.cache
MoonTrucker/obj/Debug/netcoreapp3.1/MoonTrucker.pdb
MoonTrucker/bin/Debug/netcoreapp3.1/Content/GameAssets/GroundSprite.xnb
MoonTrucker/Content/bin/DesktopGL/Content/GameAssets/GroundSprite.xnb
MoonTrucker/Content/obj/DesktopGL/Content/GameAssets/GroundSprite.mgcontent
MoonTrucker/bin/Debug/netcoreapp3.1/Content/.DS_Store
MoonTrucker/bin/.DS_Store
.gitignore
.gitignore
MoonTrucker/Content/Fonts/.DS_Store
MoonTrucker/.DS_Store
MoonTrucker/bin/Debug/.DS_Store
.gitignore
MoonTrucker/Content/.DS_Store
MoonTrucker/Content/obj/DesktopGL/Content/Fonts/NoSurrender.mgcontent
MoonTrucker/Content/obj/DesktopGL/Content/Fonts/Basic.mgcontent
MoonTrucker/Content/bin/DesktopGL/Content/Fonts/NoSurrender.xnb
MoonTrucker/Content/bin/DesktopGL/Content/Fonts/Basic.xnb
MoonTrucker/bin/Debug/netcoreapp3.1/Content/Fonts/NoSurrender.xnb
MoonTrucker/bin/Debug/netcoreapp3.1/Content/Fonts/Basic.xnb
MoonTrucker/bin/Debug/netcoreapp3.1/.DS_Store
.DS_Store
MoonTrucker/bin/Debug/netcoreapp3.1/StreetRacerSaveData.xml
.vs/MoonTrucker/xs/UserPrefs.xml
MoonTrucker/Content/obj/DesktopGL/Content/GameAssets/Arrow.mgcontent
MoonTrucker/bin/Debug/netcoreapp3.1/Content/Sounds/GameBackgroundMusic.ogg
MoonTrucker/bin/Debug/netcoreapp3.1/Content/GameAssets/pixel.xnb
MoonTrucker/bin/Debug/netcoreapp3.1/Content/Sounds/GameBackgroundMusic.xnb
MoonTrucker/bin/Debug/netcoreapp3.1/Content/Sounds/TitleMenuMusic.ogg
MoonTrucker/bin/Debug/netcoreapp3.1/Content/Sounds/TitleMenuMusic.xnb
MoonTrucker/Content/bin/DesktopGL/Content/GameAssets/pixel.xnb
MoonTrucker/Content/bin/DesktopGL/Content/Sounds/GameBackgroundMusic.ogg
MoonTrucker/Content/bin/DesktopGL/Content/Sounds/GameBackgroundMusic.xnb
MoonTrucker/Content/bin/DesktopGL/Content/Sounds/TitleMenuMusic.ogg
MoonTrucker/Content/bin/DesktopGL/Content/Sounds/TitleMenuMusic.xnb
MoonTrucker/Content/obj/DesktopGL/Content/Sounds/TitleMenuMusic.mgcontent
MoonTrucker/Content/obj/DesktopGL/Content/GameAssets/pixel.mgcontent
MoonTrucker/Content/obj/DesktopGL/Content/Sounds/GameBackgroundMusic.mgcontent
.vs/MoonTrucker/xs/project-cache/MoonTrucker-Debug.json
MoonTrucker/Content/bin/DesktopGL/Fonts/Basic.xnb
MoonTrucker/Content/bin/DesktopGL/Fonts/NoSurrender.xnb
MoonTrucker/Content/bin/DesktopGL/GameAssets/Arrow.xnb
MoonTrucker/Content/bin/DesktopGL/GameAssets/Black_viper.xnb
MoonTrucker/Content/bin/DesktopGL/GameAssets/CircleSprite.xnb
MoonTrucker/Content/bin/DesktopGL/GameAssets/GroundSprite.xnb
MoonTrucker/Content/bin/DesktopGL/GameAssets/pixel.xnb
MoonTrucker/Content/bin/DesktopGL/GameAssets/truck.xnb
MoonTrucker/Content/bin/DesktopGL/Sounds/GameBackgroundMusic.ogg
MoonTrucker/Content/bin/DesktopGL/Sounds/GameBackgroundMusic.xnb
MoonTrucker/Content/bin/DesktopGL/Sounds/TitleMenuMusic.ogg
MoonTrucker/Content/bin/DesktopGL/Sounds/TitleMenuMusic.xnb
MoonTrucker/Content/GameAssets/Arrow.xnb
MoonTrucker/Content/GameAssets/Black_viper.xnb
MoonTrucker/Content/GameAssets/CircleSprite.xnb
MoonTrucker/Content/GameAssets/GroundSprite.xnb
MoonTrucker/Content/GameAssets/truck.xnb
MoonTrucker/Content/obj/DesktopGL/.mgcontent
MoonTrucker/Content/obj/DesktopGL/.mgstats
MoonTrucker/Content/obj/DesktopGL/Fonts/Basic.mgcontent
MoonTrucker/Content/obj/DesktopGL/Fonts/NoSurrender.mgcontent
MoonTrucker/Content/obj/DesktopGL/GameAssets/Arrow.mgcontent
MoonTrucker/Content/obj/DesktopGL/GameAssets/Black_viper.mgcontent
MoonTrucker/Content/obj/DesktopGL/GameAssets/CircleSprite.mgcontent
MoonTrucker/Content/obj/DesktopGL/GameAssets/GroundSprite.mgcontent
MoonTrucker/Content/obj/DesktopGL/GameAssets/pixel.mgcontent
MoonTrucker/Content/obj/DesktopGL/GameAssets/truck.mgcontent
MoonTrucker/Content/obj/DesktopGL/Sounds/GameBackgroundMusic.mgcontent
MoonTrucker/Content/obj/DesktopGL/Sounds/TitleMenuMusic.mgcontent
MoonTrucker/Content/obj/Windows/.mgstats
MoonTrucker/StartMenu.cs
MoonTrucker/bin/Debug/netcoreapp3.1/Content/GameAssets/ArrowLeft.xnb
.gitignore
.gitignore
MoonTrucker/Content/obj/DesktopGL/Content/GameAssets/ArrowLeft.mgcontent
MoonTrucker/Content/obj/DesktopGL/Content/GameAssets/ArrowRight.mgcontent
MoonTrucker/bin/Debug/netcoreapp3.1/Content/GameAssets/ArrowRight.xnb
MoonTrucker/bin/Debug/netcoreapp3.1/Content/GameAssets/CheckeredFlag.xnb
MoonTrucker/Content/bin/DesktopGL/Content/GameAssets/CheckeredFlag.xnb
MoonTrucker/bin/Debug/netcoreapp3.1/Content/GameAssets/ActivatedGate.xnb
MoonTrucker/bin/Debug/netcoreapp3.1/Content/GameAssets/DeactivatedGate.xnb
MoonTrucker/Content/bin/DesktopGL/Content/GameAssets/ActivatedGate.xnb
MoonTrucker/Content/bin/DesktopGL/Content/GameAssets/DeactivatedGate.xnb
MoonTrucker/Content/bin/DesktopGL/GameAssets/ActivatedGate.xnb
MoonTrucker/Content/bin/DesktopGL/GameAssets/ArrowLeft.xnb
MoonTrucker/Content/bin/DesktopGL/GameAssets/ArrowRight.xnb
MoonTrucker/Content/bin/DesktopGL/GameAssets/CheckeredFlag.xnb
MoonTrucker/Content/bin/DesktopGL/GameAssets/DeactivatedGate.xnb
MoonTrucker/Content/obj/DesktopGL/Content/GameAssets/ActivatedGate.mgcontent
MoonTrucker/Content/obj/DesktopGL/Content/GameAssets/CheckeredFlag.mgcontent
MoonTrucker/Content/obj/DesktopGL/Content/GameAssets/DeactivatedGate.mgcontent
MoonTrucker/Content/obj/DesktopGL/GameAssets/ActivatedGate.mgcontent
MoonTrucker/Content/obj/DesktopGL/GameAssets/ArrowLeft.mgcontent
MoonTrucker/Content/obj/DesktopGL/GameAssets/ArrowRight.mgcontent
MoonTrucker/Content/obj/DesktopGL/GameAssets/CheckeredFlag.mgcontent
MoonTrucker/Content/obj/DesktopGL/GameAssets/DeactivatedGate.mgcontent
