MoonTrucker/.vscode/launch.json
MoonTrucker/bin/Debug/netcoreapp3.1/Genbox.VelcroPhysics.MonoGame.dll
MoonTrucker/bin/Debug/netcoreapp3.1/MonoGame.Framework.dll
MoonTrucker/bin/Debug/netcoreapp3.1/MoonTrucker.deps.json
MoonTrucker/bin/Debug/netcoreapp3.1/MoonTrucker.dll
MoonTrucker/bin/Debug/netcoreapp3.1/MoonTrucker.exe
MoonTrucker/bin/Debug/netcoreapp3.1/MoonTrucker.pdb
MoonTrucker/bin/Debug/netcoreapp3.1/MoonTrucker.runtimeconfig.dev.json
MoonTrucker/bin/Debug/netcoreapp3.1/MoonTrucker.runtimeconfig.json
MoonTrucker/bin/Debug/netcoreapp3.1/Content/GameAssets/Black_viper.xnb
MoonTrucker/bin/Debug/netcoreapp3.1/Content/GameAssets/CircleSprite.xnb
MoonTrucker/bin/Debug/netcoreapp3.1/Content/GameAssets/truck.xnb
MoonTrucker/bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/libopenal.so.1
MoonTrucker/bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/libSDL2-2.0.so.0
MoonTrucker/bin/Debug/netcoreapp3.1/runtimes/osx/native/libopenal.1.dylib
MoonTrucker/bin/Debug/netcoreapp3.1/runtimes/osx/native/libSDL2-2.0.0.dylib
MoonTrucker/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/SDL2.dll
MoonTrucker/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/soft_oal.dll
MoonTrucker/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/SDL2.dll
MoonTrucker/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/soft_oal.dll
MoonTrucker/Content/bin/DesktopGL/Content/GameAssets/Black_viper.xnb
MoonTrucker/Content/bin/DesktopGL/Content/GameAssets/CircleSprite.xnb
MoonTrucker/Content/bin/DesktopGL/Content/GameAssets/truck.xnb
MoonTrucker/Content/obj/DesktopGL/Content/.mgcontent
MoonTrucker/Content/obj/DesktopGL/Content/.mgstats
MoonTrucker/Content/obj/DesktopGL/Content/GameAssets/Black_viper.mgcontent
MoonTrucker/Content/obj/DesktopGL/Content/GameAssets/CircleSprite.mgcontent
MoonTrucker/Content/obj/DesktopGL/Content/GameAssets/truck.mgcontent
MoonTrucker/obj/MoonTrucker.csproj.nuget.dgspec.json
MoonTrucker/obj/MoonTrucker.csproj.nuget.g.props
MoonTrucker/obj/MoonTrucker.csproj.nuget.g.targets
MoonTrucker/obj/project.assets.json
MoonTrucker/obj/project.nuget.cache
MoonTrucker/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
MoonTrucker/obj/Debug/netcoreapp3.1/apphost.exe
MoonTrucker/obj/Debug/netcoreapp3.1/MoonTrucker.AssemblyInfo.cs
MoonTrucker/obj/Debug/netcoreapp3.1/MoonTrucker.AssemblyInfoInputs.cache
MoonTrucker/obj/Debug/netcoreapp3.1/MoonTrucker.assets.cache
MoonTrucker/obj/Debug/netcoreapp3.1/MoonTrucker.csproj.AssemblyReference.cache
MoonTrucker/obj/Debug/netcoreapp3.1/MoonTrucker.csproj.CopyComplete
MoonTrucker/obj/Debug/netcoreapp3.1/MoonTrucker.csproj.CoreCompileInputs.cache
MoonTrucker/obj/Debug/netcoreapp3.1/MoonTrucker.csproj.FileListAbsolute.txt
MoonTrucker/obj/Debug/netcoreapp3.1/MoonTrucker.dll
MoonTrucker/obj/Debug/netcoreapp3.1/MoonTrucker.GeneratedMSBuildEditorConfig.editorconfig
MoonTrucker/obj/Debug/netcoreapp3.1/MoonTrucker.genruntimeconfig.cache
MoonTrucker/obj/Debug/netcoreapp3.1/MoonTrucker.pdb
MoonTrucker/bin/Debug/netcoreapp3.1/Content/GameAssets/GroundSprite.xnb
MoonTrucker/Content/bin/DesktopGL/Content/GameAssets/GroundSprite.xnb
MoonTrucker/Content/obj/DesktopGL/Content/GameAssets/GroundSprite.mgcontent
MoonTrucker/bin/Debug/netcoreapp3.1/Content/.DS_Store
MoonTrucker/bin/.DS_Store
.gitignore
.gitignore
MoonTrucker/Content/Fonts/.DS_Store
